li>a {
	text-decoration: none;
}



/* 고객센터 사이드 */
#customSide {
	width: 200px;
	height: 1000px;
	margin: 0 auto;
	float: left;
}
/* 퀵 메뉴 */
#customSide1 {
	width: 180px;
	height: 280px;
	padding: 10px 10px 0 0;
	margin: 0 auto;
	float: left;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	border-bottom: 1px solid orange;
}
/* FAQ */
#customSide2 {
	width: 180px;
	height: 280px;
	margin: 0 auto;
	padding: 10px 10px 0 0;
	float: left;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	border-bottom: 1px solid orange;
}
/* 1:1 문의 */
#customSide3 {
	width: 180px;
	height: 240px;
	margin: 0 auto;
	padding: 10px 10px 0 0;
	float: left;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	border-bottom: 1px solid orange;
}
/* 근무시간안내 */
#customSide4 {
	width: 180px;
	height: 200px;
	margin: 0 auto;
	padding: 10px 10px 0 0;
	float: left;
	font-family: 'Noto Sans KR', sans-serif;
}
/* 사이드 타이틀 */
.cusSideTitle {
	width: 180px;
	padding: 10px 10px;
	margin: 0 auto;
	float: left;
	font-size: 22px;
	font-family: 'Do Hyeon', sans-serif;
	color: orange;
}

hr.Sidehr {
	border: thin solid red;
}