#contents {
	width: 1080px;
	margin: 0 auto;
	background-color: hotpink;
}

#SignInForm {
	width: 500px;
	min-height: 590px;
	position: absolute;
	top : 20px;
	left: 50vw;
	background-color: white;
	transform: translateX(-50%);
	border: 6px rgb(65, 65, 65) double;
	margin-bottom: 20px;
}
h2{
	text-align: center;
	padding : 13px 0;
	font-family: 'Noto Sans KR', sans-serif;
}
.textBox{
	font-family: 'Do Hyeon', sans-serif;
	font-size : 20px;
	padding : 10px;
}
.textBox + input{
	padding : 5px;
	margin-left: 11px;
}
select{
	padding : 5px;
	margin-left: 11px;
	width: 80px;
}
#bank{
	width: 88px;
	text-align: center;
}
#phoneBox > input {
	padding : 5px;
	width : 100px;
}
#photoZone{
	margin-left: 11px;
}
input[type="submit"], input[type="reset"]{
	padding : 5px;
	width : 220px;
	height : 40px;
}
input[type="file"]{
	margin-left: 11px;
}
input[type="submit"]{
	margin : 15px 0 20px 20px;
}
input[type="reset"]{
	margin : 15px 0 20px 10px;
}
#bank{
	margin-left: 12px;
}
#address{
	width: 280px;
}
#address1{
	width: 220px;
	margin-left: 12px;
}