        #contents {
            width: 1080px;
            height: 1000px;
            margin: 0 auto;
        }


/* 마이페이지 헤더 840 * 200 */
#rantalListHeader{
    width: 840px;
    height: 200px;
    float: left;
}
#DetailTop{
	width: 840px;
	height: 200px;
	float: left;
}
#TopSubj{
	width: 400px;
	height: 200px;
	float: left;
}
#MyheadLogo{
	width: 240px;
	height: 100px;
	padding: 28px 0 0 28px;
	float: left;
}
#cash{
	width: 212px;
	height: 160px;
	margin-top: 20px;
	float: left;
	border-right: 1px solid gray;
}
#coupon{
	width: 220px;
	height: 160px;
	margin-top: 20px;
	float: left;
}
.ccTop{
	width: 210px;
	height: 40px;
	float: left;
	padding: 10px 0 0 0;
	text-align: center;
}
.ccLogo{
	width: 160px;
	height: 60px;
	float: left;
	padding: 20px 0 0 48px;
}
.ccLogo > img{
	width: 60%;
	height: 60%;
}
.ccLow{
	width: 200px;
	height: 40px;
	float: left;
	padding-right: 10px;
	text-align: center;
}
/* 마이페이지 헤더 끝 */

#memberBaseInfo{
    width: 840px;
    height: 800px;
    float: left;
}
#baseInfoTitle{
    width: 820px;
    height: 40px;
    padding: 20px 0 20px 20px;
    float: left;
    font-size: 28px;
    border-bottom: 1px solid black;
    font-family: 'Do Hyeon', sans-serif;
}
input{
    margin: 4px;
}
#infoConfirm{
    width: 820px;
    height: 700px;
    float: left;
    margin: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}