        #contents {
            width: 1080px;
            height: 1000px;
            margin: 0 auto;
        }

        #memberBaseInfo {
            width: 840px;
            height: 800px;
            float: left;
        }

        #baseInfoTitle {
            width: 820px;
            height: 40px;
            padding: 20px 0 20px 20px;
            float: left;
            font-size: 28px;
            font-family: 'Do Hyeon', sans-serif;
        }
        #baseInfoCon{
            width: 820px;
            height: 680px;
            float: left;
            font-family: 'Noto Sans KR', sans-serif;
            border: 1px solid black;
        }
        .inputBox{
            margin: 10px 10px 10px 20px;
        }
        .inputBox input{
            margin: 0 auto;
        }
        .btn{
            width: 120px;
            padding: 4px;
            margin: 10px 0 10px 10px;
        }
        #address{
            width: 280px;
            padding: 4px;
            margin: 0 0 0 20px;
        }
        .tex{
            width: 40px;
        }
        #address1{
            width: 200px;
        }
        #phoneBox{
            margin: 0 0 0 20px;
        }
        select{
            padding: 4px;
        }
        #baseInfoCon span{
            color: black;
            font-family: 'Do Hyeon', sans-serif;
            font-size: 18px;
        }