#contents {
    width: 1080px;
    min-height: 1000px;
    margin: 0 auto;
}
body {
	margin: 20px 0 0 0;
}

img{
	width: 100%;
	height: 100%;
}
li > a{
	text-decoration: none;
	color: black;
}
a{
	text-decoration: none;
	color: gray;
}
a:hover{
	color: rosybrown;
}
.mainText{
	padding: 6px;
}
span{
	font-style: italic;
	color: darkmagenta;
}
/* 마이페이지 사이드 */
#MyPageSide{
	width: 240px;
	height: 1000px;
	float: left;
}
/* 마이페이지사이드 회원등급 */
#MyPageSideFirst{
	width: 220px;
	min-height: 200px;
	float: left;
}
#MyPageSideTitle1{
	width: 180px;
	min-height: 40px;
	padding: 0 0 0 20px;
	float: left;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 26px;
	color: orange;
}
#rating{
	width: 160px;
	padding: 0 0 0 20px;
	float: left;
	font-family: 'Noto Sans KR', sans-serif;
}
#rating1{
	width: 200px;
	height: 40px;
	padding: 0 10px 0 0;
	float: left;
	text-align: center;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 28px;
	color: blue;
}
/* 마이페이지사이드 회원정보 */
#MyPageSideSecond{
	width: 220px;
	height: 360px;
	padding: 0 0 0 20px;
	float: left;
}
#sideInfo{
	width: 220px;
	height: 320px;
	float: left;
	font-family: 'Noto Sans KR', sans-serif;
}
/* 마이페이지사이드 배송관리 */
#MyPageSideThird{
	width: 220px;
	height: 200px;
	padding: 0 0 0 20px;
	float: left;
}
#delivery{
	width: 220px;
	height: 160px;
	float: left;
	font-family: 'Noto Sans KR', sans-serif;
}
/* 빈공간 */
#MyPageSideFour{
	width: 220px;
	height: 200px;
	padding: 0 0 0 20px;
	float: left;
}
#bb{
	width: 220px;
	height: 160px;
	float: left;
	font-family: 'Noto Sans KR', sans-serif;
}
.MyPageSideTitle{
	width: 180px;
	height: 40px;
	float: left;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 26px;
	color: orange;
	border-bottom: 1px solid orange;
}



/* 마이페이지 메인 */
#MyPageMain{
	width: 840px;
	min-height: 1000px;
	float: left;
}
/* 더보기 */
.plus{
	padding: 8px;
	margin: 8px 40px ;
	float: right;	
}
/* 기본정보 */
#MyPageFirst{
	width: 840px;
	height: 250px;
	float: left;
}
#myInfo{
	width: 840px;
	height: 250px;
	float: left;
}
#myInfo1{
	width: 400px;
	height: 170px;
	padding: 22px 0 0 20px;
	float: left;
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
}
#myInfo2{
	width: 420px;
	height: 170px;
	padding: 20px 0 0 0;
	float: left;
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
}
/* 거래정보 */
#MyPageSecond{
	width: 840px;
	min-height: 250px;
	float: left;
}
#dealInfo{
	width: 840px;
	min-height: 190px;
	float: left;
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
}

#buyInfo{
	width: 420px;
	min-height: 200px;
	float: left;
}
#buyInfoCon{
	width: 340px;
	height: 160px;
	float: left;
	padding: 10px 0 0 10px;
}
#sellInfo{
	width: 420px;
	min-height: 200px;
	float: left;
}
#sellInfoCon{
	width: 340px;
	height: 160px;
	float: left;
	padding: 10px 0 0 10px;
}
.infoConTop{
	width: 320px;
	height: 40px;
	float: left;
	padding: 0 0 0 20px;	
	background-color: pink;
	border-bottom: 1px solid red;
}
.infoConTop1{
	width: 60px;
	height: 40px;
	float: right;
}
.infoCon{
	width: 340px;
	height: 110px;
	float: left;
}
.infoCon1{
	width: 260px;
	height: 110px;
	float: left;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.infoCon2{
	width: 60px;
	height: 110px;
	float: right;
}
.dealTitle{
	width: 340px;
	height: 30px;
	padding: 10px 0 0 10px;
	float: left;
	color: darkmagenta;
}
/* 대여목록 */
#MyPageThird{
	width: 840px;
	min-height: 250px;
	float: left;
}
#MainPageTitle1{
	width: 840px;
	height: 60px;
	float: left;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 34px;
	color: green;
	border-top: 1px dashed green;
}
#rantalList{
	width: 840px;
	min-height: 190px;
	margin:0 0 40px 0;
	float: left;
}

.ranList li {
	width: 210px;
	height: 190px;
	float: left;
	display: inline-block;
}
/* 1:1문의 내역 */
#MyPageFour{
	width: 840px;
	height: 250px;
	float: left;
	
}
#question{
	width: 840px;
	height: 190px;
	float: left;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 22px;
}
#questLog{
	padding: 12px;
}
/* 마이페이지 메인제목 */
.MainPageTitle{
	width: 840px;
	height: 60px;
	float: left;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 34px;
	color: green;
	border-bottom: 1px solid green;
}
