#contents {
    width: 1080px;
    min-height: 1000px;
    margin: 0 auto;
}

/* 마이페이지 메인 */
#MyPageMain{
	width: 840px;
	min-height: 1000px;
	margin: 20px 0 0 0;
	float: left;
}
/* 더보기 */
.plus{
	padding: 8px;
	margin: 8px 40px ;
	float: right;	
}
/* 기본정보 */
#MyPageFirst{
	width: 840px;
	height: 250px;
	float: left;
}
#myInfo{
	width: 840px;
	height: 250px;
	float: left;
}
.sub{
	font-style: italic;
	color: darkmagenta;
}
#myInfo1{
	width: 400px;
	height: 170px;
	padding: 22px 0 0 20px;
	float: left;
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
}
#myInfo2{
	width: 420px;
	height: 170px;
	padding: 20px 0 0 0;
	float: left;
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
}
/* 거래정보 */
#MyPageSecond{
	width: 840px;
	min-height: 250px;
	float: left;
}
#dealInfo{
	width: 840px;
	min-height: 190px;
	float: left;
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
}

#buyInfo{
	width: 420px;
	min-height: 200px;
	float: left;
}
#buyInfoCon{
	width: 340px;
	height: 160px;
	float: left;
	padding: 10px 0 0 10px;
}
#sellInfo{
	width: 420px;
	min-height: 200px;
	float: left;
}
#sellInfoCon{
	width: 340px;
	height: 160px;
	float: left;
	padding: 10px 0 0 10px;
}
.infoConTop{
	width: 320px;
	height: 40px;
	float: left;
	padding: 0 0 0 20px;	
	background-color: pink;
	border-bottom: 1px solid red;
}
.infoConTop1{
	width: 60px;
	height: 40px;
	float: right;
}
.infoCon{
	width: 340px;
	height: 110px;
	float: left;
}
.infoCon1{
	width: 260px;
	height: 110px;
	float: left;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.infoCon2{
	width: 60px;
	height: 110px;
	float: right;
}
.dealTitle{
	width: 340px;
	height: 30px;
	padding: 10px 0 0 10px;
	float: left;
	color: darkmagenta;
}
/* 대여목록 */
#MyPageThird{
	width: 840px;
	min-height: 250px;
	float: left;
}
#MainPageTitle1{
	width: 840px;
	height: 60px;
	float: left;
	margin-top:10px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 34px;
	color: green;
}
#rantalList{
	width: 840px;
	min-height: 190px;
	margin:0 0 40px 0;
	float: left;
}

.ranList li {
	width: 210px;
	height: 190px;
	float: left;
	display: inline-block;
}
/* 1:1문의 내역 */
#MyPageFour{
	width: 840px;
	min-height: 250px;
	float: left;
	
}
#question{
	width: 840px;
	min-height: 190px;
	float: left;
	text-align: center;
	
	font-size: 18px;
}
tr {
	display: table-row;
}

thead th {
	height: 40px;
	border-bottom: 1px solid gray;
	background-color: #eeeef1;
	font-family: 'Noto Sans KR', sans-serif;
}

#inquiryTable {
	margin: 10px;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	font-size: 18px;
}

table {
	border-collapse: separate;
	border-spacing: 2px;
	border-color: grey;
}

td {
	text-align: center;
}

.answer {
	color: red;
}

#Subj {
	text-align: center;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
#Subj a:hover {
	color: skyblue;
}
#questLog{
	padding: 12px;
}
/* 마이페이지 메인제목 */
.MainPageTitle{
	width: 840px;
	height: 60px;
	float: left;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 34px;
	color: green;
	border-bottom: 1px solid green;
}
