/* 마이페이지 헤더 840 * 200 */
#rantalListHeader{
    width: 840px;
    height: 200px;
    float: left;
}
#DetailTop{
	width: 840px;
	height: 200px;
	float: left;
}
#TopSubj{
	width: 400px;
	height: 200px;
	float: left;
}
#MyheadLogo{
	width: 240px;
	height: 100px;
	padding: 28px 0 0 28px;
	float: left;
}
#cash{
	width: 212px;
	height: 160px;
	margin-top: 20px;
	float: left;
	border-right: 1px solid gray;
}
#coupon{
	width: 220px;
	height: 160px;
	margin-top: 20px;
	float: left;
}
.ccTop{
	width: 210px;
	height: 40px;
	float: left;
	padding: 10px 0 0 0;
	text-align: center;
}
.ccLogo{
	width: 160px;
	height: 60px;
	float: left;
	padding: 20px 0 0 48px;
}
.ccLogo > img{
	width: 60%;
	height: 60%;
}
.ccLow{
	width: 200px;
	height: 40px;
	float: left;
	padding-right: 10px;
	text-align: center;
}
/* 마이페이지 헤더 끝 */