img{
	width: 100%;
	height: 100%;
}
li > a{
	text-decoration: none;
	color: black;
}
a{
	text-decoration: none;
	color: gray;
}
#MyPageSide a:hover{
	color: rosybrown;
}
.mainText{
	padding: 6px;
}
span{
	font-style: italic;
	color: darkmagenta;
}
/* 마이페이지 사이드 */
#MyPageSide{
	width: 240px;
	min-height: 1000px;
	margin : 20px 0 0 0;
	float: left;
}
/* 마이페이지사이드 회원등급 */
#MyPageSideFirst{
	width: 220px;
	min-height: 200px;
	float: left;
}
#MyPageSideTitle1{
	width: 180px;
	min-height: 40px;
	padding: 0 0 0 20px;
	float: left;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 26px;
	color: orange;
}
#rating{
	width: 160px;
	padding: 0 0 0 20px;
	float: left;
	font-family: 'Noto Sans KR', sans-serif;
}
#rating1{
	width: 200px;
	height: 40px;
	padding: 0 10px 0 0;
	float: left;
	text-align: center;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 28px;
	color: blue;
}
/* 마이페이지사이드 회원정보 */
#MyPageSideSecond{
	width: 220px;
	height: 360px;
	padding: 0 0 0 20px;
	float: left;
}
#sideInfo{
	width: 220px;
	height: 320px;
	float: left;
	font-family: 'Noto Sans KR', sans-serif;
}
/* 마이페이지사이드 배송관리 */
#MyPageSideThird{
	width: 220px;
	height: 200px;
	padding: 0 0 0 20px;
	float: left;
}


.MyPageSideTitle{
	width: 180px;
	height: 40px;
	float: left;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 26px;
	color: orange;
	border-bottom: 1px solid orange;
}
.myside{
	margin:20px 0 0 20px;
}
