<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
    				   http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 이원학 공간 -->
<!-- <bean class = "controller.HelloController" /> -->

<bean class = "controller.customerservice.CusMyInquiryController" />
<bean class = "controller.customerservice.CustomerServiceController" />
<bean class = "controller.member.JoinMembershipController" />
<bean class = "controller.mypage.MemberInfoController" />
<bean class = "controller.mypage.MemberInfoConfirmController" />
<bean class = "controller.mypage.MemberModifyController" />
<bean class = "controller.mypage.MyPageMainController" />
<bean class = "controller.mypage.rantalListController" />
<bean class = "controller.ranking.RankingMainController" />

</beans>