<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
    				   http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 권도완 공간 -->
<!-- <bean class = "controller.HelloController" /> -->
<!-- member 공간 -->
<bean class="controller.member.RbLoginController" />
<bean class="controller.member.IdSerachController" />
<bean class="controller.member.PasswordSelectController" />

<!-- Freeboard 공간 -->
<bean class="controller.freeboard.FreeBoardListController" />

<!-- mypage 공간 -->
<bean class="controller.mypage.ShoppingBasketController" />

<!-- trade 공간 -->
<bean class="controller.trade.TradeListController" />
<bean class="controller.trade.TradeDetailController" />

<!-- payment 공간 -->
<bean class="controller.payment.TransactionDetailController" />
</beans>